<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Storage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
</head>
<body>
    <h1>파일 목록</h1>
    <div id="search">
        <input type="text" name="SearchBox" id="SB" placeholder="파일명 검색">
    </div>
    <table id="list" data-filelistdata='{{FileListData}}'>
        <!-- 여기에 파일 목록 -->
    </table>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>